
table{
    background-color:gray;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  
}

tbody{
    background-color: white;
    text-align: center;
    color: black;
    
}

